﻿@model Valtech.Amsterdam.Labs.AspnetCoreHoneyPot.Example.Models.ExampleFormViewModel
@using Valtech.Amsterdam.Labs.AspnetCoreHoneyPot.Extensions
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="logo" src="~/Images/AspnetCoreHoneyPotLogoOptimized.svg" width="200" height="200" />
    <h1>AspnetCoreHoneyPot</h1>
    <p class="lead">A honeypot like SimpleHoneypot but without redirecting.</p>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.ValidationSummary(true)
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <p>@Html.Label(String.Empty, "If you type into this honeypot the modelstate shall be invalidated!", new { @class = "emphasize-example" })</p>
                <p>@Html.HoneyPot()</p>
            </fieldset>

            <fieldset>
                @Html.LabelFor(m => m.SomeRequiredField)
                @Html.TextBoxFor(m => m.SomeRequiredField)
                @Html.ValidationMessageFor(m => m.SomeRequiredField)
            </fieldset>
            <fieldset>
                @Html.LabelFor(m => m.SomeOtherField)
                @Html.TextBoxFor(m => m.SomeOtherField)
            </fieldset>

            <input type="submit" value="Send!" />
        }
    </div>
</div>