﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .logo {
        margin-top: 0%;
        margin-bottom: 0%;
    }
}

.logo {
    float: left;
    margin-left: -10%;
    margin-top: -4%;
    margin-right: 10%;
    margin-bottom: 4%;
}

label {
    display: block;
}

input.input-validation-error {
    border-color: red;
    border-width: 1px;
}

span.field-validation-error {
    color: red;
    font-style: italic;
    margin-left: 5px;
    display: inline-block;
}

div.validation-summary-errors ul,
div.validation-summary-errors ul li {
    list-style: outside disc;
    color: red;
}

.emphasize-example {
    width: 500px !important;
    max-width: 50% !important;
    color: darkorange;
    position: relative;
}

input.emphasize-example {
    border: 3px solid darkorange;
    color: black;
}

label.emphasize-example::after {
    content: "";
    background-image: url('/images/AspnetCoreHoneyPotMessageOptimized.svg');
    background-size: 200px 200px;
    display: inline-block;
    position: absolute;
    right: 0px;
    margin-right: -210px;
    top: -50px;
    width: 200px;
    height: 200px;
    display: block;
    z-index: 9;
}
